@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200&family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300&family=Source+Sans+Pro:wght@300;400&family=Tangerine&display=swap');

*{ 
    padding: 0;
    margin: 0;
}
.sidebar{
    background-color: rgb(224, 215, 215);
    /* width: 300px;   */
    font-family: 'Fira Sans', sans-serif; 
    height: 100vh; 
    transition: transition 0.5s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 45px;
    /* margin: 60px 0; */
    
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0; 
    
}
.sidebar nav li a:hover{
    background: rgb(238, 100, 8);
    
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
  
}
.main {
    /* background-color: darkgray; */
    width: 100vw;
    height: 48vw;
     
}
body{
    /* background-color: rgb(102, 166, 134); */
}
.container{
    display: flex; 
    
}
.infiContainer{
    /* background-color:rgb(149, 138, 138); */
    height: 70vh;
    width: 180vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
}
.devPic img{
    background-color: rgb(166, 8, 29);
    height: 58vh;
    /* float: right; */
    border-radius: 2px 2px 2px solid red;
    
    padding: 0 10px;
    margin: 60px;
    margin-top: 15px;
}
.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Literata', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tangerine', cursive;
}
.hello{
    font-size: 50px;
    
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif; 
}
.about{
    font-size: 40px;
}
.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 34px;
    font-size: 5px;
}
.btn{
    margin-top: 0 3px;
    padding: 9px 14px;
    border-radius: 18px;
    background-color: mediumblue;
    font-weight: bold;
    color: white;
    font-size: 21px;
    margin: 0 3 px;
    cursor: pointer;

    
}
.btm-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}
.btn:hover{
    background-color: white;
    color: mediumblue;
}
.contactform {
    margin: 0 88px; 
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 144px;
    
    

}
.container h1{
    font-family: 'Source Code Pro', monospace;
  
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
}
.contactform form{
    margin: 0 140px;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
    
}
.container label{
    font-size: 8px;
    color: black;
    font-size: 20px; 
}
.container label input{
    font-size: 20px;
    color: white; 
}
.btn {
    margin-top: 30px;
    padding: 9px 14px;
    border-radius: 18px;
    background-color: blue;
    font-weight: bold;
    color: white;
    font-size: 21px;
    margin: 0 3 px;
    cursor: pointer;   
}
#emailHelp{
    font-size: 14px;
    color: black;
    margin: 0 5px;  

}
#form-check{
    flex-direction: row;
    margin: 10px;
    padding-right: 9px;  
}
.checkbox{
    padding: 4px;
}

#form-check input{
    display: inline;
    width: 30px;
    height: 20px;
    padding-left: 3px 0;   
}

.skillcontainer{
    
    padding: 15px;
}
.intro{
    padding: 20px 50px;
}
.skillItem{
    font-weight: 900;
    align-items: center;
    display: flex;
    font-family: 'Source Code Pro', monospace;
}
.skill{
    width: 165px;
    height: 6px;
    background-color: brown;
    border: 2px solid rgb(14, 13, 11);   
}
.intro{
    margin:  100px;
}
.intro p{
    margin: 20px;
    font-size: 20px;
}
.intro h2{
    margin: 20px;
}
.ts{
    width: 150px;
    background-color: rgb(43, 40, 40);
    margin: 10px;
}
.tt{
    width: 100px;
    background-color: rgb(135, 18, 18);
    margin: 10px;
}
.tu{
    width: 100px;
    background-color: rgb(67, 18, 135);
    margin: 10px;
}
.tv{
    width: 100px;
    background-color: rgb(4, 49, 86);
    margin: 10px;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
left: 10px;

}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 145px;
  
}
.sidebarGo{
    transform: translate(-1443px, 0px);
    position: absolute;
}
.devInfo{
    font-size: 10px;
}
/* bootstrap */
h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* background-color: rgba(128, 255, 0, 0.076); */
}
h{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
}

.icons{
    font-size: 40px;
    padding-left: 20px;
    float: right; 
    margin-top: 25px;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s;
    border-radius: 40px;
    line-height: 40px; 
}

h:hover{
    transition: all 0.5s linear;
    transform: scale(1.2);
}
a i{
    transition: all 0.3s linear;
}
a:hover i{
    transform: scale(1.4) ;
}
a{
    background-color: #f5f6fa;
    height: 40px;
    width: 40px;
}
.icons:hover{
 background-color: lightgoldenrodyellow;
 color: rgb(5, 129, 145);
}

/* services */
.contdetails{
    background: rgb(72, 71, 70);
    height: 150vh;
    margin: 10px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    padding-top: 10px;
}
.cell{
    color: rgba(46, 3, 3, 0.993);
    font-size: 3rem;
    text-align: center;
  
    padding: 60px;
}
.contdetails .box p:hover{
    background: rgb(230, 235, 240);
    color: rgb(123, 100, 55);
}
.contdetails .cell .box h4:hover{
    background: rgb(231, 231, 238);
    color: rgb(15, 15, 15);
}
.icon:hover{
    
    background: rgb(245, 237, 237);
    color: rgb(115, 43, 43);
}
.contdetails .box:hover{
    background: white;
    color: tomato;
}
.contdetails .box{
    padding: 20px;
    background: rgba(238, 238, 234, 0.257);
    border-radius: 12px;
}
.contdetails .cell .box p{
    font-size: 30px;
}
.contdetails .cell .box h4{
    font-size: 30px;
}
.icon {
    font-size: 60px;
    color: red;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.1s;
    border-radius: 60px;
    line-height: 60px; 
}
.icon img:hover{
    transition: all 0.5s linear;
    transform: scale(1.5);
    transition: all 0.3s linear;
}
